.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: grab;
  cursor: -webkit-grab;
}

.inner-child {
  position: absolute;
  background-color: #ccc;
  border: 1px solid #999;
}

/* Cursor styles */
.grid-container:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
