// COLORS
$color-black-coal: #14181d;
$color-black: #0c1014;

$color-grey-border: #272727;
$color-grey-icon-hover: #22262a;
$color-sidebar-text: #515357;
$color-card-text: #737d78;
$color-footer-text: #9b9d9f;

$color-searchbar-background: #202327;

$color-white: #fff;
$color-blue: #1d5dd3;
$color-sky-blue: #0084ff;
$color-yellow: #deaf33;

$color-parret: #2edb77;

$color-tab-hover-color: #383e46;

$color-sidemenu-background: #181d24;
$color-sidemenu-text: #97999c;
