.sidebar-item {
  width: 100%;
  color: $color-sidebar-text;
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all 0.15s;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    border-radius: 5px;
    background-color: $color-grey-icon-hover;
  }

  &:hover &__title {
    color: $color-white;
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__title {
    font-size: 14px;
    margin-bottom: 3px;
    transition: all 0.15s;
  }
}
