.home-avatar {
  min-height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__content {
    width: 38%;
    font-weight: 700;
    margin-left: 1rem;

    &__heading {
      font-size: 2.8rem;
    }

    &__description {
      font-size: 1.4rem;
      margin: 2rem 0;
    }

    @media (max-width: 800px) {
      width: 100%;
      padding: 10px 40px;
    }
  }

  &__image {
    height: 100%;
    max-height: 560px;

    @media (max-width: 600px) {
      max-width: 100%;
      margin-top: -100px;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }
}
