.highlights {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    row-gap: 3rem;
  }
}

.highlight-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  img {
    width: 50px;
    height: 50px;
  }

  h4 {
    margin-top: 2rem;
    font-size: 2rem;
  }

  p {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
