.sidemenu {
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  width: 250px;
  background-color: $color-sidemenu-background;

  display: flex;
  flex-direction: column;

  padding: 2rem 0.8rem;

  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__section {
    &__title {
      color: $color-sidemenu-text;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  @include respond(tab-port) {
    left: 0;
  }

  @media (max-width: 700px) {
    display: none;
  }
}
